	
/* ---------------------- Page animations ------------------------   */		
		
.main  .anim {
-webkit-transform: translate3d(0px, -200%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.main  .active .anim {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.main  .anim2 {
-webkit-transform: translate3d(0px, -100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.main  .active .anim2 {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.main  .anim-none {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.main  .active .anim-none {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}
	
/* ---------------------- End Page animations ------------------------   */	




/* ---------------------------------------------------------- page 2 ----------------------------------------------------------   */
	
/* ----------------------- slide 1 ---------------------------   */

.portfolio  .slide1 .content {
-webkit-transform: translate3d(-100%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.portfolio .active   .content {
-webkit-transform: translate3d(0%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}


.portfolio  .slide1 .image {
-webkit-transform: translate3d(100%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.portfolio .active   .image {
-webkit-transform: translate3d(0%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}


/* ---------------------- end slide 1 ------------------------   */	


/* ----------------------- slide 2 ---------------------------   */

.portfolio  .slide2 .content {
-webkit-transform: translate3d(+100%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.portfolio .active   .content {
-webkit-transform: translate3d(0%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}


.portfolio  .slide2 .image {
-webkit-transform: translate3d(0px, 100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.portfolio .active   .image {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}


/* ---------------------- end slide 2 ------------------------   */	

/* ---------------------------------------------------------- page 3 ----------------------------------------------------------   */
	
/* ----------------------- slide 1 ---------------------------   */

.carousel-inner  .slide1-part1 {
-webkit-transform: translate3d(-100%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner .active .slide1-part1 {
-webkit-transform: translate3d(0%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .slide1-part2 {
-webkit-transform: translate3d(0px, +100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .active .slide1-part2 {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .slide1-part3 {
-webkit-transform: translate3d(+100%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .active .slide1-part3 {
-webkit-transform: translate3d(0%, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}	


/* ---------------------- end slide 1 ------------------------   */	
	
	
	
/* ----------------------- slide 2 ---------------------------   */

.carousel-inner  .slide2-part1 {
-webkit-transform: translate3d(0px, -100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner .active .slide2-part1 {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .slide2-part2 {
-webkit-transform: translate3d(0px, +100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .active .slide2-part2 {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}


/* ---------------------- end slide 2 ------------------------   */	
	
	
	
	
	
/* ----------------------- slide 3 ---------------------------   */

.carousel-inner  .slide3-part1 {
-webkit-transform: translate3d(0px, -100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner .active .slide3-part1 {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .slide3-part2 {
-webkit-transform: translate3d(0px, +100%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

.carousel-inner  .active .slide3-part2 {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
}

/* ---------------------- end slide 3 ------------------------   */		
	
	
	
	
	
	
	
	
/* ---------------------------------------------------------- page 4 ----------------------------------------------------------   */	
	

.carousel-inner .active .portraits li:nth-child(1) {
visibility: visible;
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 0s;
-webkit-transition-delay: 0s;
}

.portraits li:nth-child(1) {
visibility: hidden;
-webkit-transform: translate3d(+950px, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 0s;
-webkit-transition-delay: 0s;
}	

.carousel-inner .active .portraits li:nth-child(2) {
visibility: visible;
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 0.5s;
-webkit-transition-delay: 0.5s;
}

.portraits li:nth-child(2) {
visibility: hidden;
-webkit-transform: translate3d(+800px, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 0.5s;
-webkit-transition-delay: 0.5s;
}	

.carousel-inner .active .portraits li:nth-child(3) {
visibility: visible;
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 1s;
-webkit-transition-delay: 1s;
}

.portraits li:nth-child(3) {
visibility: hidden;
-webkit-transform: translate3d(+600px, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 1s;
-webkit-transition-delay: 1s;
}	

.carousel-inner .active .portraits li:nth-child(4) {
-webkit-transform: translate3d(0px, 0%, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 1.5s;
-webkit-transition-delay: 1.5s;
visibility: visible;
}

.portraits li:nth-child(4) {
visibility: hidden;
-webkit-transform: translate3d(+400px, 0px, 0px);
-webkit-transition: all 1000ms ease;
transition: all 1000ms ease;
transition-delay: 1.5s;
-webkit-transition-delay: 1.5s;
}	

	