html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'Yekan';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
			 direction: rtl;
    }
    @font-face{
			font-family:'Yekan';
			src:url('Yekan.eot?#') format('eot'),
			url('../fonts/Yekan.woff') format('woff'),
			url('Yekan.ttf') format('truetype');
			}
    .wrapper {
    	height: 100% !important;
		min-width: 1024px;
    	margin: 0 auto; 
    	overflow: hidden;
    }
    
    a {
      text-decoration: none;
    }
    
    
    h1, h2 {
      width: 100%;
    }

    h1 span {
      font-size: 26px;
      margin: 0 5px;
      text-transform: capitalize;
      background: rgba(0,0,0,0.85);
      display: inline-block;
      color: #6D461D;
      border-radius: 5px 5px;
      -webkit-border-radius: 5px 5px;
      -moz-border-radius: 5px 5px;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
      padding: 3px 10px;
    }

    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    .main h1 {
      padding:150px 50px;
      float: left;
      width: 100%;
      font-size: 45px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: white;
      margin: 0;
    }
	
    .clear {
      width: auto;
    }

    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      text-align: center;
      color: rgba(0,0,0,0.5);
      padding: 10px;
      width: 410px;
      clear: both;
	  margin: 0 auto;
    }
    .credit a {
      color: rgba(0,0,0,0.85);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
    
    header {
      position: relative;
      z-index: 10;
    }
    .main section .page_container {
      position: relative;
      top: 15%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    .main section  {
	z-index: 1;
      overflow: hidden;
    }
    
    .main section > img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
	
	
@font-face {
    font-family: 'Socialico';
    src: url('../fonts/Socialico.woff');
    src: url('../fonts/Socialico.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Socialico.ttf') format('truetype'),
         url('../fonts/Socialico.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
	
    /* ------------------- NAVIGATION -------------------   */	
	
.sticky-wrapper {
position:fixed;
z-index:999;
width:100%;
background-color: #fff;
height: 55px;
border-bottom: 1px solid #e5e5e5;
}
	
	
nav {
width: 950px;
height: 45px;
margin: 0 auto;
z-index: 101;
}

#logo {
float: left;
display: inline-block;
font-size: 14pt;
color: #212121;
margin-left: 0px;
letter-spacing: 0;
padding: 10px 15px 10px 0;
line-height: 20px;
vertical-align: middle;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-timing-function: ease;
animation-fill-mode: both;
}

nav #logo {
font-size: 14pt;
color: #212121;
letter-spacing: 0;
line-height: 20px;
}

nav ul {
float: right;
display: inline-block;
margin-right: 0px;
margin-top: 15px;
list-style: none;
vertical-align: middle;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-timing-function: ease;
animation-fill-mode: both;
}

nav ul li {
display: inline-block;
vertical-align: middle;
line-height: 14px;
}

nav ul li a {
color: #212121;
text-transform: uppercase;
letter-spacing: 0;
font-size: 9pt;
margin: 5px 15px 0px 15px;
padding: 18px 0px;
vertical-align: middle;
text-decoration: none;
transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
z-index: 1;
}


nav ul li :hover {	
text-decoration:none;
color: #47b7e6;}	
	
.active {
font-weight: bold;
color: #47b7e6;}	
	
	/* ---------------------------------------------   */	
	
	
.wrapper .dark {
background-color:rgba(0, 0, 0, 0.61);
border-bottom: 1px solid #47b7e6;
}

	
.wrapper .dark nav ul li a {
color:#fff;
}

.wrapper .dark nav ul li .active {
font-weight: bold;
color: #47b7e6;
}	
	
	
	
	
	
	
	
	
	
	
/* ------------------- page 1 -------------------   */

.main section.page1 {
min-width: 100%;
min-height: 100%;
}

.main section.no_video {
background-image: url('../data/bg-02.jpg');
/*background-color:#47b7e6; */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.main section.video {
background: url('../img/pattern.png') repeat;
}

.main section.page1 h1 {
text-align: center;
padding: 0;
font-weight:600;
margin:20px 0;
font-size: 70px;
color:#fff;
}
.main section.page1 h2 {
color:#fff;
text-align: center;
width: 600px;
margin: 0px auto 60px;
float: none;
line-height: 160%;
}

.main section .page_container .btns {
clear: both;
text-align: center;
width: 435px;
}

.main section .page_container .btns a{
color:#fff;
text-align: center;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
color: #fff;
background-color: #47b7e6;
border-color: #47b7e6;
}

.social_module {
max-width:313px;
margin: 60px auto 0px;
border-top:1px solid #fff;
}

.social_module a {
text-decoration: none;}

.social_module ul li {
list-style: none;
display: inline-block;
padding: 0px 20px 0px 20px;
}

.social_module ul {
padding-left:0px;
margin:5px 0 10px;
}

.icon:hover{
color:#47b7e6;}

.icon {
font-family: "Socialico";
font-weight: 400;
font-style: normal;
font-size: 30px;
color: #fff;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}

/* ---------------------------------------------   */
	
/* ------------------- page 2 -------------------   */
.main section.page2 {
background-color:#fff; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-width: 100%;
min-height: 100%;
}

.main section.page2 .page_container {
margin-top: 0px;
overflow: hidden;
width:100%;
}
.main section.page2 h1 {
text-align: center;
padding: 0;
margin-bottom: 15px;
font-size: 40px;
letter-spacing: 0;
color: white;
}
.main section.page2 h2 {
color: rgba(255,255,255,0.85);
text-align: center;
font-size: 25px;
font-weight: 100;
margin:0 0 20px 0;
}	

.main section.page2 a,
.main section.page2 p,
.main section.page2 h1,
.main section.page2 h2 {
color:#555;
}

.slider {
float: left;
width: 100%;
height: 100%;
margin: 0 auto;
}

.portfolio .slide .content p{
float: left;
font-weight: normal;
width: 100%;
font-size: 14px;
margin-top: 5px;
}

.portfolio {
padding: 40px 0 0 0;
max-width: 100%;
height: 420px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
position: relative;
overflow: hidden;
}

.portfolio .slide  {
height: 100%;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
position: absolute;
}

.portfolio .slide .image  {
float: none;
width: 50%;
padding-left: 10px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
vertical-align: middle;
display: table-cell;
padding: 0 0 0 10px;
}

.portfolio .slide .image img{
max-width: 100%;
display: block;
width: 100%;
}

.portfolio .slide .content {
float: none;
width: 50%;
padding-right: 30px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
text-align: left;
line-height: 160%;
vertical-align: middle;
display: table-cell;
}

.portfolio .slide .content h2{
font-size: 28px;
font-weight: 400;
text-align: left;
line-height: 140%;
margin-bottom:10px;
}

.main section.page2 .btn-outline {
color:#fff;
background-color:#47b7e6;
}

.main section.page2 .btn-outline:hover, .main section.page2 .btn-outline:focus, .main section.page2 .btn-outline:active { 
color:#fff;
background-color:#555;
border-color:#555;
}


.main section.page2 .new { 
font-size: 12px;
color: #47b7e6;
position: absolute;
line-height: 10px;
padding:5px;
margin-left:10px;
background-color:#fff;
border:1px solid #47b7e6;
border-radius: 10%;}


.portfolio .slide2 .image {
padding-left: 0px;
padding-right:10px;
}
.portfolio .slide2 .content {
padding-right: 0px;
padding-left: 30px;
}




/* ---------------------------------------------   */
	
/* ----------------------------- page 3 ---------------------------   */
.main section.page3 {
background-image: url('../data/bg-02.jpg');
/*background-color:#47b7e6; */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-width: 100%;
min-height: 100%;
color:#fff;
}
.main section.page3 .page_container {
margin-top: 0px;
overflow: hidden;
}
.main section.page3 h1 {
text-align: center;
padding: 0;
margin-bottom: 15px;
font-size: 40px;
letter-spacing: 0;
color: white;
}
.main section.page3 h2 {
color: rgba(255,255,255,0.85);
text-align: center;
font-size: 25px;
font-weight: 100;
margin:0 0 20px 0;
}

.carousel.carousel-fade .item {
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
opacity:0;
}

.carousel.carousel-fade .active.item {
opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
left: 0;
z-index: 2;
opacity: 0;
filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
left: 0;
z-index: 1;
}

.carousel.carousel-fade .carousel-control {
z-index: 3;
}

.carousel {
margin-top:50px;
}

.main section.page3	.slide1 {
padding-top:40px;
height:350px;
}

.one-third {
width: 295px;
}

.column {
float: left;
margin:0 10px;
min-height: 1px;
}

.column-section {
margin-top: 20px;
}

.align-center {
text-align: center;
}

.main section.page3 h4 {
color:#fff;}

.main section.page3 p {
font-size:14px;
font-weight:normal;
color:#fff;}

.main section.page3	.slide2 {
padding-top:40px;
height:350px;
}

.iconbox-content {
float: right;
width: 240px;
text-align:left;
}

.iconbox .fa {
color: #fff;
}

.slide2 h5 {
color:#fff;
font-size: 18px;
margin-top:0px;
line-height: 26px;
}	

.main section.page3 .slide3 {
padding-top:40px;
height:350px;
}

.slide3 .one-fourth {
width: 215px;
}

.one-fourth .fa {
color: #fff;
}

.counter {
margin-top: 10px;
color: #fff;
}

.counter-value {
font-family: 'Yekan';
font-weight: 800;
font-size: 48px;
line-height: 60px;
}

.counter-name {
font-size: 14px;
text-transform: uppercase;
margin-top: 15px;
letter-spacing: 0;
}

.slide3 h6 {
color: #fff;
}
/* ---------------------------------------------   */



	
	
/* ---------------------------------------------------------- page 4 ----------------------------------------------------------   */
.main section.page4 {
background-image: url('../data/bg-01.jpg');
/*background-color:#47b7e6; */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-width: 100%;
min-height: 100%;
}

.main section.page4 .page_container {
margin-top: 0px;
overflow: hidden;
}

.main section.page4 h1 {
text-align: center;
padding: 0;
margin-bottom: 15px;
font-size: 40px;
letter-spacing: 0;
color: white;
}

.main section.page4 h2 {
color: rgba(255,255,255,0.85);
text-align: center;
font-size: 25px;
font-weight: 100;
margin:0 0 20px 0;
}

.viewing-page-4 .back{
background: rgba(0, 0, 0, 0.25);
color: #FFF;
}

.carousel-indicators {
bottom: -15px;
}

.carousel-indicators li {
display: inline-block;
width: 11px;
height: 11px;
margin: 2px;
text-indent: -999px;
border: none;
cursor: pointer;
background-color: rgba(255,255,255,.4);
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

.carousel-indicators .active {
width: 11px;
height: 11px;
margin:2px;
}	


.portraits{
text-align: center;}

.portraits li {
position: relative;
list-style-type: none;
display: inline-block;
width: 24.6%;
height: auto;
margin-bottom: 2.5%;
transition: all 150ms ease-out; 
margin: 0 0px 5px 0px;
padding-bottom:10px;}

.portraits li img {
width:100%;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}

/* .portraits li img:hover {
filter:alpha(opacity=80);
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
opacity: 0.8;}*/

.portraits li .name {
font-size: 18px;
color: #fff;
font-weight: normal;
font-style: normal;
margin: 10px 0 0px 0;
display: inline-block;}

.portraits li .poste {
font-family:'OpenSansLight', sans-serif;
font-size: 12px;
font-weight: bolder;
color:#fff;
text-transform: uppercase;
padding: 8px 8px;
margin-bottom: 10px;
font-style:italic;
display: inline-block;}

.portraits li .whathedo {
color: #3b3b3b;
display:none;
font-size:12px;}

.portraits li .whathedo a {
padding: 0px 5px 0px 5px;
}

.ch-item {
border-radius:2%;
width: 205px;
height: 205px;
position: relative;
cursor: default;
margin:0 auto 15px; 
box-shadow: 
inset 0 0 0 0 rgba(0, 0, 0, 0.5),
inset 0 0 0 5px rgba(255,255,255,0.6),
0 1px 2px rgba(0,0,0,0.1);

-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
background-size: 205px 205px;
}

.ch-info {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-o-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
-webkit-backface-visibility: hidden; /*for a smooth font */
}

.ch-info h3 {
color: #fff;
text-transform: uppercase;
position: relative;
letter-spacing: 0;
font-size: 22px;
margin: 0 30px;
padding: 65px 0 0 0;
height: 110px;
font-family: 'Yekan', Arial, sans-serif;
text-shadow: 
0 0 1px #fff, 
0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
color: #fff;
padding: 10px 5px;
font-style: italic;
margin: 80px 30px 0px;
font-size: 12px;
}

.ch-info p a {
text-decoration:none;
color: #fff;
color: rgba(255,255,255,0.7);
font-style: normal;
font-weight: 700;
text-transform: uppercase;
font-size: 9px;
letter-spacing: 0;
padding-top: 4px;
margin:0px 10px;
font-family: 'Yekan', Arial, sans-serif;
}

.ch-info p a:hover {
color: #fff222;
color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
box-shadow: 
inset 0 0 0 3px rgba(71, 183, 230, 1),
inset 0 0 0 110px rgba(0, 0, 0, 0.6),
0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);	
}

.ch-grid {
margin: 50px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}

.ch-grid:after,
.ch-item:before {
content: '';
display: table;
}

.ch-grid:after {
clear: both;
}



/* --------------------------------------------------------------------------------------------------------------------   */	
	
	
	
	
	
	
	
	
	
	
	



/* ------------------------------------------------------------- page 5 -------------------------------------------------------------   */
.main section.page5 {
background-color:#fff ;
}

.main section.page5 .page_container {
overflow: hidden;
top:0px;
width:100%;
max-width:none;
}

.main section.page5 h1 {
text-align: center;
padding: 0;
margin:40px auto 15px;
font-size: 40px;
font-weight: 300;
color: #757575;
}

.main section.page5 h2 {
width:950px;
color: #999;
text-align: center;
font-size: 25px;
font-weight: 300;
line-height: 1.25em;
margin:0 auto 20px ;
}

.main section.page5 .page_container .top-image {
width:100%;
height: 200px;
}

.main section.page5 .page_container .top-image img {
width:100%;
height: 200px;
}

section.contact .row {
font-family:'OpenSansRegular', serif;
line-height:24px;
color:#777;
width:950px;
font-size:14px;
margin: 30px auto;
}

section.contact .row .col1 {
width:55%;
padding:0px 3%;
display:inline-block;
vertical-align:text-top;
text-align:left;
}

section.contact .row .float {
float:left;
}

section.contact .page_container .col2 {
width: 31%;
padding: 0px 20px;
display:inline-block;
vertical-align:text-top;
text-align:left;
}

section.contact .page_container form input[type="text"],
section.contact .page_container form input[type="email"],
section.contact .page_container form textarea {
width:100%;
height:35px;
padding:5px 10px;
font-family:'OpenSansRegular', serif;
font-size: 12px;
color:#999;
font-weight:400;
letter-spacing:0;
background-color:#FFF;
border:1px solid #b8b8b8;
border-radius:0px;
box-shadow:none;
margin-bottom:15px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;}

section.contact .page_container form input[type="text"]:focus,
section.contact .page_container form input[type="email"]:focus,
section.contact .page_container form textarea:focus {
outline-width: 0;
border:2px solid #555;
color:#999;
}

section.contact .page_container form input[type="text"]:required:valid,
section.contact .page_container form input[type="email"]:required:valid,
section.contact .page_container form textarea:required:valid {
border:2px solid #555;
color:#555;

background-repeat:no-repeat;
background-position:98%;
}

section.contact .page_container form input[type="text"]:required:invalid,
section.contact .page_container form input[type="email"]:required:invalid,
section.contact .page_container form textarea:required:invalid {

background-repeat:no-repeat;
background-position:98%;
}
section.contact .page_container form textarea:required:valid,
section.contact .page_container form textarea:required:invalid {
background-position:98% 8px;
}

section.contact .page_container form textarea {
resize:vertical;
height:75px;}

section.contact .page_container form label {
color:#555;
font-family:'OpenSansSemibold', sans-serif;
text-transform:uppercase;
font-size:14px;
font-weight:normal;
letter-spacing:0;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
font-family:'OpenSansSemibold', sans-serif;
color:#333;}

input:-moz-placeholder,
textarea:-moz-placeholder {
font-family:'OpenSansSemibold', sans-serif;
color:#333;}

input::-moz-placeholder,
textarea::-moz-placeholder {
font-family:'OpenSansSemibold', sans-serif;
color:#333;}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
font-family:'OpenSansSemibold', sans-serif;
color:#333;}

section.contact .page_container form .required {
color:#47b7e6;}

section.contact .page_container form .submit {
width:100%;
padding:5px 10px;
background-color:#47b7e6;
text-transform:uppercase;
font-family: 'Yekan';
letter-spacing:0;
color:#FFF;
margin-top:0px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:2px solid #47b7e6;
box-shadow:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;}

section.contact .page_container form .submit:hover {
color:#FFF;
border:2px solid #555;
background-color: #555;
cursor:pointer;}

section.contact .page_container h4 {
color:#555;
font-family:'OpenSansSemibold', sans-serif;
text-transform:uppercase;
font-size:14px;
font-weight:normal;
line-height: 24px;
letter-spacing:0;
margin-bottom:0px;
margin-top:35px;}

section.contact .page_container h4:first-child{
margin-top:0px;}


section.contact .page_container a {
color:#47b7e6;
letter-spacing:0;
text-decoration:none;
transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;}

section.contact .page_container a:hover {
color:#777;
text-decoration:none;
transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;}


section.contact .page_container form label, section.contact .page_container h4 {
font-family: 'Yekan';
font-weight: 600;
margin-bottom:0px;
}


section.contact .page_container p {
font-size: 14px;
font-family: 'Yekan', arial, sans-serif;
font-weight: 400;
line-height: 24px;
color: #777;
margin:0px;
}



@media screen  
and (max-height : 699px)
 {
 .portfolio {padding: 20px 0 0 0; height: 355px;}
.main section.page3 .slide1 { padding-top: 40px;}
.carousel {margin-top: 30px;}
.ch-grid {margin: 30px 0 0 0;}
.main section.page5 .page_container .top-image  {display:none;}
.main section.page5 h1 {margin: 80px auto 15px;}
}








